@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,500;1,100;1,400&display=swap');
body{
    font-family: Montserrat, monospace, sans-serif;
    margin: 0em;
}
header{
    padding: 10px 120px;
    background-color: #ec7e1d;
}
.foxyslogo{
    display: inline;
    margin-top: 10px;
    height: 10em;
    width: 10em;
    margin: auto;
    
}
.title{
    text-align: center;
    font-weight: bolder;
}
nav{
    text-align: right;
    margin-bottom: 30px;
}
nav > a{
    color: rgb(255, 255, 255) ;
    margin-right: 30px;
}
main{
    background-color: rgb(187, 187, 187);
    padding: 5px;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.295);
    text-align: justify;
    margin: 10px;
    border-radius: 10px;
}
a{
    text-decoration: none;
}
footer{
    color: white;
    background-color: blue;
    text-align: center; 
    padding: 5px;
}